////////////////////
// Default Styles //
////////////////////
.footer {
	width: 100%;
	height: auto;
	min-height: 50vh;
	background: #fbfbfb;
	padding: calc(7vh + 64px) 0 64px 0;
	&-wrap {
		width: 100%;
		max-width: 720px;
		margin: 0 auto;
		@include flexbox();
	}
	&-heading {
		font: italic 400 40px/40px $playfair;
		color: #222;
		text-align: center;
		padding: 0 0 32px 0;
		&::after {
			content: '';
			display: block;
			width: 120px;
			height: 2px;
			background: color('champagne');
			margin: 16px auto 0 auto;
		}
	}
	&-main {
		text-align: center;
		flex: 1;
		&__heading {
			font: 300 16px/32px $inconsolata;
			color: #222;
			padding: 24px 0;
			@include psd-letter-spacing(40);
		}
		&__typeform {
			.typeform-share.button {
				display: inline-block;
				width: auto;
				height: 56px;
				float: none;
				margin: 0 auto;
				background: color('gold');
				color: #fff;
				font: 500 16px/16px $gotham-narrow--book;
				border-radius: 0;
				border: 0;
				text-transform: uppercase;
				padding: 20px 24px;
				@include psd-letter-spacing(40);
				&:hover {
					background: color('gold');
				}
			}
		}
	}
	&-aside {
		flex: 1;
		padding: 24px 0;
		&__list {
			list-style-type: none;
		}
		&__item {
			display: block;
			font: 400 16px/32px $inconsolata;
			letter-spacing: 0.04em;
			i {
				display: inline-block;
				width: 24px;
				text-align: left;
				position: relative;
				&.fa-mobile { font-size: 22px; top: 2px; left: 2px; }
				&.fa-envelope-o { font-size: 14px; }
				&.fa-facebook { top: 1px; left: 2px; }
				&.fa-instagram { font-size: 17px; top: 1px; }
			}
			a {
				color: #222;
			}
		}
	}
	&-form {
		//
	}
}




////////////////////
// Breakpoints    //
////////////////////
@media screen and (max-width:767px) {
	.footer {
		&-wrap {
			flex-direction: column;
			text-align: center;
		}
	}
}